<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBEDhmLCg1nrshraGPFo-qhbUI2jf2CAkQ</string>
	<key>GCM_SENDER_ID</key>
	<string>312923330934</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.nexus.app</string>
	<key>PROJECT_ID</key>
	<string>nexus-8e69e</string>
	<key>STORAGE_BUCKET</key>
	<string>nexus-8e69e.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:312923330934:ios:c447fabb7143aa059f0257</string>
</dict>
</plist>